html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
}

* {
  box-sizing: border-box;
}

.top-row {
  height: 10%;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 0.5px solid lightgrey;
}

.top-row-content {
  font-family: 'Courier New', monospace;
  font-size: 1.25em;
}

.main-content {
  flex: 1;
  display: flex;
  width: 100%;
  height: 90%;
}

.column-1, .column-2, .column-3 {
  height: 100%;
  overflow: auto;
}

.column-1 {
  width: 35%;
  border-left: 0.5px solid lightgrey;
}

.column-2 {
  width: 55%;
  border-left: 0.5px solid lightgrey;
}

.column-3 {
  width: 10%;
}

.row {
  border-bottom: 1px solid lightgrey;
  height: 50%;
  width: 100%;
}

.scrollable {
  overflow-y: auto;
  height: 100%;
  width: 100%;
}

.tick-line {
  cursor: ew-resize;
}

.tick-label {
  cursor: ew-resize;
  font-size: 0.7em;
}

.question-label {
  font-size: 0.8em;
}

.entropy-section-label {
  font-size: 0.8em;
}

.visualization-label {
  font-size: 0.85em;
}

input[type="checkbox"] {
  accent-color: white;
  outline: 1px solid lightgrey;
}

.question-slider {
  accent-color: white;
}

.view-title {
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  text-align: center;
}


#entropy-map-container {
  height: 100%;
}
