<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<script src="https://d3js.org/d3.v7.min.js"></script>
</head>
<body>
	<div class="column-1 scrollable" id="beeswarm-plots"></div>
	<div class="column-2 scrollable" id="hamming-graph"></div>
	<script type='text/javascript' src='../static/scripts/requests.js'></script>
	<script type='text/javascript' src='../static/scripts/hamming-graph.js'></script>
	<script type='text/javascript' src='../static/scripts/beeswarm.js'></script>
</body>
</html>